<div class="containers flex grid overflow-hidden ">
  <div class="main">
    <div class="d-flex ">
      <img class="m-6" src="../../assets/icon.svg" alt="">
      <span class=" text-end  hover:underline cursor-pointer">CREATE ACCOUNT  </span>
    </div>
    <!-- Form........ -->
    <div class="flex justify-center	p-4 ">
      <div
        class="  flex justify-center	w-full max-w-sm p-4 bg-white border border-gray-200 rounded-3xl	 shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        <form class="space-y-4  d-flex" action="#" style="width: 100%;">
          <h4 class=" text-center  mx-10 font-medium text-gray-900 dark:text-white">Welcome to Every Proposal</h4>
          <p class="mx-10  text-xs font-small">Sign in to Continue using explorong</p>
          <div class="relative">
            <label for="email"
              class="block mb-2 text-xs font-small text-gray-900 dark:text-white absolute top: 0; mx-2">Email</label>
            <input type="email" name="email" id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              placeholder="name@company.com" required>
          </div>
          <div class="relative">
            <label for="password"
              class="block mb-2 text-xs font-small text-gray-900 dark:text-white absolute top: 0; mx-2 text-rose-600	">
              Password
              <img class="image" src="../../assets/view.png" alt="" height="1px" width="20px">
            </label>
            <input type="password" name="password" id="password" placeholder="••••••••"
              class="bg-red-50 border-b-2 border-red-500 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
               required >
          </div>
          <button type="submit"
            class="w-full text-white bg-red-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-3xl	 text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login
            In</button>
          <div class="flex items-center gap-3">
            <div class="border border-[#6B7280] w-full"></div>
            <span class="text-xs text-block flex-shrink-0">or Continue Your </span>
            <div class="border border-[#6B7280] w-full"></div>
          </div>
          <div>
            <div>
              <button type="button"
                class=" border-2 bg-[#FFFFFF]  font-small rounded-lg text-sm px-5 py-1.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 mr-2 mb-2 w-full">
                <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#0000FF  "
                  viewBox="0 0 8 19">
                  <path fill-rule="evenodd"
                    d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                    clip-rule="evenodd" />
                </svg>
                <span class="mx-7">
                  Continue with Facebook
                </span>
              </button>
            </div>
            <div>
              <button type="button"
                class=" border-2 bg-[#FFFFFF] font-small rounded-lg text-sm px-5 py-1.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 mr-2 mb-2 w-full">
                <img src="../../assets/google_g_icon.png" alt="" height="10px" width="23px">
                <samp class="mx-7">
                  Continue with Google
                </samp>
              </button>
              <!-- <div class="relative text-center">
                <div class="absolute left-0 right-0 top-1/2 transform -translate-y-1/2 border-t border-gray-300"></div>
                <span class="bg-white px-4 text-gray-500 text-sm">Your Text</span>
              </div> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>